[submodule "kernel_platform/KernelSU-Next"]
	path = kernel_platform/KernelSU-Next
	url = https://github.com/rifsxd/KernelSU-Next.git
[submodule "Wild_KSU"]
	path = Wild_KSU
	url = https://github.com/WildKernels/Wild_KSU.git
	branch = wild
